node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.development
.env.production
dist
test
src/**/*.spec.ts
*.md
.eslintrc
.prettierrc
README.md
docker-compose.yml
Dockerfile
.dockerignore
.vercel
.github
.vscode